{% extends 'pizzaman\base.html' %} 

{% block body %}

<h2>Welcome statment</h2>
<p> Wellcom to the Pizza Man website we pride ourselfs on our IT and we sell a acouple pizza on the side. To preform any functions you will have
    Log in othere wise keep looing at this boring text and read it as many times as you want. Oh you can go to the About page with out logging in.
</p>
<hr>
<h2>Instuctions</h2>
<p> 
    To be able to log in you will need to contact a site admin becasue we dont just let anyone add sales and count the pickes
</p>
{% endblock %}